#jinja2: lstrip_blocks: True, trim_blocks: True
[Unit]
Description=Kubernetes Scheduler
Documentation=https://kubernetes.io/docs/concepts/overview/components/#kube-scheduler
After=network.target network-online.target etcd.service {{ __control_plane_kube_apiserver_service }}.service
Wants=network-online.target
Requires={{ __control_plane_kube_apiserver_service }}.service

[Service]
ExecStart={{ __control_plane_kube_scheduler_binary }} \
    --alsologtostderr="true" \
    --authentication-kubeconfig="{{ __control_plane_kube_scheduler_kubeconfig_file }}" \
    --authentication-tolerate-lookup-failure="false" \
    --authorization-kubeconfig="{{ __control_plane_kube_scheduler_kubeconfig_file }}" \
    --bind-address="0.0.0.0" \
    --client-ca-file="{{ __control_plane_pki_ca_cert_file }}" \
    --kubeconfig="{{ __control_plane_kube_scheduler_kubeconfig_file }}" \
    --leader-elect="true" \
    --log-file=/var/log/{{ __control_plane_kube_scheduler_service }}.log \
    --log-file-max-size="100" \
    --requestheader-client-ca-file="{{ __control_plane_pki_ca_cert_file }}" \
    --tls-cert-file="{{ __control_plane_pki_kube_scheduler_cert_file }}" \
    --tls-min-version="VersionTLS12" \
    --tls-private-key-file="{{ __control_plane_pki_kube_scheduler_key_file }}" \
    --v="2"
TimeoutStartSec=600
TimeoutStopSec=60
Restart=always
RestartSec=10s
KillMode=process
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
Alias={{ __control_plane_kube_scheduler_service }}.service
